@page "/HistoryList"

<h3>History List</h3>

<button class="btn btn-primary" @onclick="PopulateArray">Populate Array</button>

@if (History.Count > 0)
{
    <ul>
        @foreach (var item in History)
        {
            <li>@item</li>
        }
    </ul>
}

@code {
    private List<string> History { get; set; } = new List<string>();

    private void PopulateArray()
    {
        History.Clear();
        History.AddRange(new List<string>
        {
            "African-American History",
            "Cold War",
            "World War II",
            "Middle Ages",
            "Crusades"
        });
    }
}
